.form_container {
    padding: 20px;
}

.form_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container label {
    margin-bottom: 10px;
}

.form_container input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.form_container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form_container button:hover {
    background-color: #0056b3;
}
